@{
    ViewBag.Title = "ViewAllFeeds";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@using CAS.Models
<body>
    <div>

        <br />
    </div>
    <div class="contact-details">
        <p>
            <h1>Feeds Added By The Users</h1>
        </p>
        <br />
    </div>
    <div class="row" style="width:920px; margin-right:auto; margin-left:auto; border:1px solid #808080">

        <div class="table table-responsive table-bordered table-hover">
            <table border="1">

                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Ad Category</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Keyword</th>
                        <th>Ad Age</th>
                        <th>Description</th>
                        <th>Ad URL</th>
                        <th>Bus_Pro_ID</th>
                        <th>Pub_Pro_ID</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.Id</td>
                            <td>@i.Username</td>
                            <td>@i.Add_Category</td>
                            <!--Here-->
                            <td>@i.CreationDate</td>
                            <td>@i.Location</td>
                            <td>@i.Keyword</td>
                            <td>@i.Ad_Age</td>
                            <td>@i.Description</td>
                            <td>@i.Ad_URL</td>
                            <td>@i.Bus_Pro_ID</td>
                            <td>@i.Pub_Pro_ID</td>
                            
                            <td>@Html.ActionLink("Delete", "DeleteAd", new { id = i.Id })</td>
                        </tr>
                    }
                </tbody>

            </table>
            
        </div>

        <br />
    </div>
    <div>
        <br />
        <br />
    </div>
</body>
